#routes-map-view {
    padding: 20px 0px;
}

    #routes-map-view > div {
        width: 90%;
        margin: 0px auto;
    }

    #routes-map-view #map-wrapper {
        background: white;
        height: 500px;
        margin: 20px auto;
    }

    #routes-map-view input[type=range]:first-child {
        width: 100%;
    }

    #routes-map-view .help-block {
        display: inline-block;
    }

    #routes-map-view label[for=input-graduality-value],
    #routes-map-view label[for=input-speed-value] {
        margin-left: 30px;
    }

    #routes-map-view label.checkbox {
        padding-bottom: 7px;
    }

        #routes-map-view label.checkbox input[type=checkbox] {
            margin-top: 7px;
        }

#map {
    height: 100%;
    width: 100%;
}