#routes-map-view {
    padding: 20px 0px;
}

    #routes-map-view > div {
        width: 90%;
        margin: 0px auto;
    }

    #routes-map-view *[name=map-wrapper] {
        background: white;
        height: 500px;
    }

    #routes-map-view input[type=range]:first-child {
        width: 100%;
    }

    #routes-map-view .help-block {
        display: inline-block;
    }

    #routes-map-view .toolbarLabel {
        margin-left: 30px;
        margin-right: 10px;
    }

    #routes-map-view *[name=map-objects-header] {
        height: 100px;
    }

    #routes-map-view *[name=map-objects-header] .checkbox input[type=checkbox] {
        margin-top:7px;
    }

    #routes-map-view *[name=map-objects-list] {
        height: 390px;
        overflow-y: auto;
    }

    #routes-map-view *[name=map-objects-list] .checkbox {
        padding: 0;
        line-height: normal;
    }

    #routes-map-view *[name=map-objects-list] .checkbox input[type=checkbox]{
        margin: 0 5px 0 0;
    }

    #routes-map-view *[name=map-objects-list] li {
        margin-top: 5px;
    }

    #routes-map-view *[name=map-objects-list] .form-inline {
        margin-left: 5px;
        margin-top: -5px;
    }

    #routes-map-view *[name=map-objects-list] small {
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
        margin-top: -2px;
    }

    #routes-map-view *[name=map-objects-list] *[name=panel-raw-data] {
        white-space: nowrap;
    }

*[name=map] {
    height: 100%;
    width: 100%;
}

    /* Bootstrap Css Map Fix*/
    *[name=map] img { 
      max-width: none;
    }
    /* Bootstrap Css Map Fix*/
    *[name=map] label { 
      width: auto; 
      display:inline; 
    }

.min-width-30 {
    min-width: 30px;
    display: inline-block;
}

.colorBlock {
    display:inline-block; 
    width: 20px; 
    height: 10px;
}

.form-inline .block {
    display: inline-block;
}
