{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
{% endblock css %}

{% block content %}
    <div>
        <div id="searchPanel">
        </div>
        <div id="customToolbar">
        </div>
        <div id="map-wrapper">
            <div id="map">
            </div>
        </div>
    </div>
{% endblock content%}

{% block js %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/gmaps.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/travel.js"></script>
    <script>
        var deps = [
            'splunkjs/ready!',
            'splunkjs/mvc/searchbarview',
            'splunkjs/mvc/searchcontrolsview',
            'splunkjs/mvc/tableview',
            'splunkjs/mvc/searchmanager',
            'underscore',
            'travelSystem'
        ];
        require(deps, function(mvc) {
            var SearchbarView = require('splunkjs/mvc/searchbarview');
            var SearchControlsView = require('splunkjs/mvc/searchcontrolsview');
            var TableView = require('splunkjs/mvc/tableview');
            var SearchManager = require('splunkjs/mvc/searchmanager');
            var _ = require('underscore');
            var travelSystemModule = require('travelSystem');

            // Initialize new search manager

            var searchManager = new SearchManager({
                id: 'appSearchManager',
                app: 'routemap',
                preview: true,
                required_field_list: '*',
                status_buckets: 300,
                search: 'source=firebase | stats list(ts) as tsArray, list(lat) as latArray, list(lon) as lonArray by routeTag, id'
            });

            var searchPanel = $('#searchPanel');

            // Instantiate the views and search manager
            var searchbarView = new SearchbarView({
                managerid: searchManager.id,
                el: searchPanel.append('div')
            }).render();

            // Update the search manager when the query in the searchbar changes
            searchbarView.on('change', function() {
                searchManager.set('search', searchbarView.val());
            });

            // Update the search manager when the timerange in the searchbar changes
            searchbarView.timerange.on('change', function() {
                searchManager.search.set(searchbarView.timerange.val());
            });

            new SearchControlsView({
                managerid: searchManager.id,
                el: searchPanel.append('div')
            }).render();

            var map = new GMaps({
                      div: '#map',
                      lat: 0,
                      lng: 0,
                      zoom: 2
                    });

            var travelSystem = null;

            // Connect to search
            var routesData = searchManager.data('results', {count: 0, output_mode: 'json'});
            routesData.on('data', function() {
                if (!routesData.hasData()) {
                    return;
                }

                if (travelSystem) {
                    travelSystem.stop();
                } 

                travelSystem = travelSystemModule(map, '#customToolbar');

                var bounds = new google.maps.LatLngBounds();
                map.removePolylines();
                
                var results = routesData.data().results;
                for (var rIndex = 0; rIndex < Math.min(100, results.length); rIndex++) {
                    var result = results[rIndex];

                    var points = [];
                    var latValues = result['latArray'];
                    var lonValues = result['lonArray'];
                    var tsValues = result['tsArray'];

                    for (var i = 0; i < Math.min(tsValues.length, Math.min(latValues.length, lonValues.length)); i++) {
                        if (latValues[i] && lonValues[i] && tsValues[i]) {
                            var ts = parseFloat(tsValues[i]),
                                lat = parseFloat(latValues[i]),
                                lon = parseFloat(lonValues[i]);
                            points.push({ ts: ts, lat: lat, lon: lon });
                            bounds.extend(new google.maps.LatLng(lat, lon));
                        }
                    }

                    travelSystem.addObject('Route: ' + result.routeTag + ', bus: ' + result.id, points);
                }

                map.fitBounds(bounds);
                
                travelSystem.start(200);
            });
        });
    </script>
{% endblock js %}