{% extends "splunkdj:base_with_account_bar.html" %}

{% load splunkmvc %}

{% block title %}{{app_name}} Home Page{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />

    <style>        
        .main-area {
            margin: 0px auto;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 300px;
        }    
    </style>
{% endblock css %}

{% block content %}

    <div>
        <div class="main-area">
            <form class="form-search" id="searchForm">
              <input type="text" class="input-medium search-query" value="source=firebase | stats values(lat), values(lon) by routeTag, id"> 
              <button type="submit" class="btn">Search</button>
            </form>

        </div>
    </div>

{% endblock content%}

{% block js %}    
    <script>
        require(["splunkjs/ready!", "splunkjs/mvc/searchmanager", "underscore"], function(mvc) {
            var _ = require('underscore');
            var SearchManager = require("splunkjs/mvc/searchmanager");
            
            $('#searchForm').submit(function() {
                var search = new SearchManager({
                    app: 'routemap',
                    search: $(this).find('input[type=text]').get(0).value
                });
                
                var result = search.data("results", {count: 0, output_mode: "json"});
                result.on("data", function() {
                    if (!result.hasData()) {
                        return;
                    }
                    
                    var results = result.data().results;
                    _.each(results, function(result) {
                        console.log(JSON.stringify(result));
                    });
                });

                return false;
            });
        });
    </script>
{% endblock js %}